.container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    .username {
        width: 100%;
        h2 {
            font-weight: bold;
            border-bottom: 1px solid #ccc;
            padding-bottom: 1rem;
        }
    }
    .messages {
        width: 100%;
        padding: 12px;
        box-sizing: border-box;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        height: calc(100vh - 160px);
        overflow: scroll;
        overflow-x: hidden ;
        .message {
            padding: 10px;
            box-sizing: border-box;
            border-radius: 8px;
            display: flex;
            flex-flow: column;
            text-align: left;
            border-color: #c9c9c9;
            background-color: #ddd;
            margin-bottom: 4px;
            font-size: 14px;
            .center {
                text-align: center;
            }
            .date {
                margin-top: 5px;
                font-size: 12px;
                float: right;
            }
            &.right {
                text-align: right;
                float: right;
                border: 2px solid #dedede;
                background-color: #f1f1f1;
            }
        }
    }
    .sendMessage {
        text-align: left;
        width: 100%;
        padding: 12px;
        box-sizing: border-box;
        input {
            height: 100%;
            width: 85%;
            padding: 12px;
            box-sizing: border-box;
        }
        button {
            height: 100%;
            width: 12%;
            padding: 12px;
            box-sizing: border-box;
            cursor: pointer;
            margin-left: 5px;
            background-color: darkcyan;
        }
    }
}